* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities */
.clearfix{
  content: '';
  display: table;
  clear: both;
}

header li,
.jumbotron li,
.info li {
  list-style: none;
}

@font-face {
  font-family: "proximNovLight";
  src: url("../font-style/ProximaNovaAltLight.ttf") format("truetype");
}

@font-face {
  font-family: "proximNovBold";
  src: url("../font-style/ProximaNovaBold.ttf") format("truetype");
}

@font-face {
  font-family: "proximNovReg";
  src: url("../font-style/ProximaNova-Regular.ttf") format("truetype");
}

/* media query */
@media screen and (max-width: 500px) {
  .container {
    width: 430px;
    margin: 0 auto;
  }
  /*header*/
  header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
  }

  .h-left a {
    text-transform: uppercase;
    font-size: 13px;
    font-family: "proximNovBold";
    border-bottom: 1px solid black;
  }

  .h-middle {
    line-height: 1;
  }
  .h-middle h1 {
    text-align: center;
    font-family: "proximNovReg";
    font-size: 3rem;
  }
  .h-middle h3 {
    text-align: center;
    font-family: "proximNovLight";
    font-weight: inherit;
  }

  .h-right div {
    text-transform: uppercase;
    font-size: 13px;
    font-family: "proximNovBold";
    background-color: #77889963;
    padding: 8px;
  }

  /* Jumbotron */
  .j-img img {
    width: 100%;
  }

  .jumbotron {
    background-color: #6c87b03d;
  }

  .jumbotron li {
    margin: 10px 0;
  }

  .jumbotron li:last-of-type {
    margin-top: 35px;
  }

  .j-script {
    padding: 30px 0;
  }

  .j-script h3 {
    font-family: "proximNovBold";
    font-size: 23px;
  }
  .j-script p {
    font-family: "proximNovReg";
    text-transform: uppercase;
    font-size: 14px;
  }

  .j-script i {
    margin-right: 5px;
  }

  .j-script button {
    width: 430px;
    background-color: #6c87b03d;
    padding: 15px;
    border: 1px solid black;
    cursor: pointer;
    font-family: "proximNovBold";
    font-size: 13px;
    text-transform: uppercase;
  }

  /* Info */
  .info .dropUp{
    border-bottom: 0.3px solid #80808030;
    padding: 20px 0;
  }

  .info .dropUp p{
    font-family: "proximNovReg";
    font-size: 13px;
  }
    

  
  /* dropdown1 */
  .dropdown1 i{
    float: right;
    margin-left: 300px;
  }

  .downMenu1{
    padding: 15px 0;
  }
  

  .downMenu1 li:nth-child(6){
    font-weight: bold;
  }
    
  /* dropdown2 */
  .dropdown2 i{
    float: right;
    margin-left: 320px;
  }

  .downMenu2{
    padding: 15px 0;
    
  }

  

  .downMenu2 span{
    margin-right: 20px;
  }

  .downMenu2 li{
    margin-bottom: 8px;
    text-align: left;
    
  }
    

  /* dropdown3/4/5 */
  .dropdown3 i,
  .dropdown4 i,
  .dropdown5 i{
    float: right;
    margin-left: 290px;
  }
/* dropdown3 */
  .downMenu3{
    padding: 15px 0;
    
  }

  .downMenu3 li{
    display: flex;
    align-items: center;
    margin: 10px 0;
    
    
  }

  .downMenu3 img{
    margin-right: 15px;
    width: 20px;
  }
  /* dropdown4 */
  .downMenu4{
    padding: 30px 0;
  }

  .downMenu4 img{
    margin-bottom: 15px;
  }

  .downMenu4 p{
    width: 78%;
    line-height: 2;
  }
  /* dropdown5 */

  
    

  /* Dropdown effect */

  /* downmenu1 */
  input, ul.downMenu1,
  input, ul.downMenu2,
  input, ul.downMenu3,
  input, ul.downMenu4,
  input, .downMenu5 {
    display: none;
  }

  
  label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
    font-family:"proximNovBold";
  }

  

  
  input:checked~ul.downMenu1,
  input:checked~ul.downMenu2,
  input:checked~ul.downMenu3,
  input:checked~ul.downMenu4,
  input:checked~.downMenu5 {
    display: block;
  }
  
  .downMenu1 li,
  .downMenu2 li,
  .downMenu3 li,
  .downMenu4 li,
  .downMenu5 p{
    margin-bottom: 10px;
  
  }  

  .downMenu5 p{
    line-height: 2;
    width: 96%;
    margin-top: 10px;
  }
  
  /* cta */
  .cta{
    background-color: #6c87b03d;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .cta .boxImg{
    position: relative;
    width: 412px;
    margin: 13px 0;

  }

  .cta .boxImg h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "proximNovBold";
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 0.8;
  }

  .cta .boxImg p{
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "proximNovReg" ;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 0.8;
    text-align: center;
    width: 79%;

  }

  .cta .imgLayer:before{
    background: rgba(21, 66, 153, 0.21);
    position: absolute;
    content: '';
    width: 100%;
    height: 418px;
    bottom: 0;
    left: 0;
    top: 0;
  }
  .cta .boxImg img{
    width: 100%;

  }

  .cta .boxImg .white-but{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    background-color: whitesmoke;
    padding: 15px;
    cursor: pointer;
    font-family: "proximNovBold";
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
  }
    

  /* footer */

  footer{
    padding-top: 3rem ;
  }

  footer .mainFBox{
    padding: 20px 0;
    background-color: #6c87b03d;
    
    
  }

  footer .content-main-f{
    height: 620px;
    overflow-y: scroll;
    padding-right: 20px;
  }

  footer .content-main-f::-webkit-thumb{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  } 
    

  footer .content-main-f::-webkit-scrollbar{
    width: 5px;
    background-color: #dce2ec;
  }
    

  footer .content-main-f::-webkit-scrollbar-thumb{
    background-color: white;
    
  }  

  .mainFBox h2{
    text-align: center;
    margin: 43px 0;
    text-transform: uppercase;
    font-family: "proximNovBold";
  }


  .mainFBox .box-comments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mainFBox h3,
  .mainFBox p{
    font-family: "proximNovReg";
  }

  .mainFBox .box-comments p:last-of-type{
    text-align: center;
    margin-bottom: 50px;
    line-height: 1.6;
  }
  .mainFBox .box-comments p:first-of-type{
    margin-bottom: 20px;
  }
    
  .mainFBox .box-comments .stars{
    margin-bottom: 20px;
  }
  .mainFBox .box-comments .stars .fas{
    color: #ff000094;
  }
  .mainFBox .box-comments .stars .white-star{
    color: white;
    
  }

}
    
  

 


  

  



  


  
