* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities */

header li{
  list-style: none;
}


@font-face {
  font-family: "proximNovLight";
  src: url("../font-style/ProximaNovaAltLight.ttf") format("truetype");
}

@font-face {
  font-family: "proximNovBold";
  src: url("../font-style/ProximaNovaBold.ttf") format("truetype");
}

@font-face {
  font-family: "proximNovReg";
  src: url("../font-style/ProximaNova-Regular.ttf") format("truetype");
}



/* media query */
@media screen and (max-width:500px){
  .container {
    width: 430px;
    margin: 0 auto;
  }
  /*header*/
  header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
  }

  .h-left a{
    text-transform:uppercase;
    font-size: 13px;
    font-family: "proximNovBold";
    border-bottom: 1px solid black;
    
  }
  
  .h-middle{
    line-height: 1;
  }
  .h-middle h1{
    text-align: center;
    font-family: "proximNovReg";
    font-size: 3rem;
  }
  .h-middle h3{
    text-align: center;
    font-family: "proximNovLight";
    font-weight: inherit;
  }
  
    



  .h-right div{
    text-transform:uppercase;
    font-size: 13px;
    font-family: "proximNovBold";
    background-color: #77889963;
    padding: 8px;
    
  }


}